
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$link: #6ddffb;

$modal-card-head-background-color	: #292929;
$modal-card-title-color	:#fff;
$modal-card-body-background-color: rgba(0,0,0,.75);
$red: #dc2819;
$green: #22a200;

$link-hover: #72f2ff;
$link-focus: #72f2ff;
$input-hover-color: #d0d0d0;