
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~vuetify/dist/vuetify.css';
html
{
  background-color: rgba(0,0,0,0.75);
}
body
{
  background-color: rgba(0,0,0,0.75);
}
.application--wrap
{
  background: url("/img/ictFlag.svg") no-repeat;
  background-size: cover;
}
.filter-content
{
  background-color: rgba(0,0,0,0.75);
}
.max-500
{
  max-width: 500px;
}

.max-800
{
  max-width: 800px;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
