
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Buma
@import '~bulma';
//fontAwesome
@import "~font-awesome/scss/font-awesome.scss";

.button
{
  border-radius: 0px;
}
.ict-flag-bg
{
  background-image: url('/img/ictFlag.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.container
{
  padding-left: 5px;
  padding-right:5px;
}

.top-spacer
{
  margin-top: 25px;
}

p{
  padding-bottom: 5px;
  padding-top: 5px;
}